.main-container {
    width: 100%;
    height: calc(100vh - 71px);
    display: flex;
}

.main-container .div-main-form {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container .div-main-form .div-align-form .icon-file {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    z-index: 99;
}

.main-container .div-main-pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 40%;
    position: relative;
}

@media screen and (max-height: 800px) {
    iframe {
        width: 424.50px;
        height: 566px;
    }
    .main-container .div-main-form {
        justify-content: initial;
        margin: 10px 0px;
    }
}