.container-singIn {
  max-width: 600px;
  height: 100%;
  margin: 8% auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
  border-radius: 20px;
}

.container-singIn .div-image-singIn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-singIn {
  text-align: center  ;
}

.form-singIn input {
  min-width: 600px;
}
